//	================================================================================================
//	File Name: robust-variables.scss
//	Description: Custom theme specific variables and other content variations
//	----------------------------------------------------------------------------------------------
//	Item Name: Robust - Responsive Admin Theme
//	Version: 1.0
//	Author: PIXINVENT
//	Author URL: http://www.themeforest.net/user/pixinvent
//	================================================================================================

//  ================================================================================================
//  Use this file to override robust variables
//  You can use any robust variable from app-assets/scss/core/variables/robust-variables.scss
//  ================================================================================================

$body-direction: ltr; // Default ltr, change it to rtl for Right To Left support.

//	------------------------------
//	  Colors
//	------------------------------
$content-bg: #F3F3F3; //#F2F5F8 //#F1F4F4
$white:#FFFFFF;
$black:#000000;
$border-color: #E6E6E6;
$transparent: transparent;

//	------------------------------
//	  Buttons
//	------------------------------
$btn-border-radius-square: 0;
$btn-border-radius-round: 2rem;

//	------------------------------
//	  Navbar
//	------------------------------
$navbar-height:4rem;
$navbar-light-bg: $white;
$navbar-dark-bg: #1D2B36;
$navbar-header-width : 240px;

//	------------------------------
//	  Full screen search
//	------------------------------

$fullscreen-search-bg: rgba(255,255,255,0.9);
$fullscreen-search-overlay-bg: rgba(255,255,255,0.9);
$fullscreen-search-color: $gray;
$search-magnifier: url(../../images/svg/magnifier.svg);

//	------------------------------
//	  Main Menu
//	------------------------------


//main menu light
$menu-light-bg: $white;
$menu-light-color: $gray;

//main menu dark
$menu-dark-bg: #1D2B36;
$menu-dark-color: #dcdcdc;

$menu-padding : 8px 20px;
$menu-second-level-padding : 8px 20px 8px 50px;
$menu-third-level-padding : 8px 20px 8px 60px;
$menu-forth-level-padding : 8px 20px 8px 70px;

// vertical menu
$menu-expanded-width: 240px;
$menu-collapsed-width: 60px;

// vertical overlay menu
$overlay-menu-width: 240px;

// vertical compact menu
$compact-menu-width: 150px;

// vertical mm menu
$mm-expanded-width: 240px;
$mm-collapsed-width: 240px;

// vertical menu
$content-menu-expanded-width: 240px;
$content-menu-collapsed-width: 60px;

// menu search
$menu-search-height: 70px;

//Main menu footer
$menu-footer-height:        15px;
$menu-footer-color:         $white;
$menu-footer-color-bg:	   #1D2B36;
$menu-footer-link-bg:       rgb(33, 41, 46);
$menu-footer-link-hover-bg: rgb(30, 36, 39);

//Footer color
$footer-color-light-bg:    $white;
$footer-color-dark-bg :	   #1D2B36;

//	------------------------------
//	  Sideber
//	-------------------------------
$sidebar-width:            300px;
//	-------------------------------
//	  Avatar
//	-------------------------------

$avatar-size:            30px;
$avatar-status-size:     10px;

$avatar-size-lg:        144px;
$avatar-status-size-lg: 30px;

$avatar-size-md:        40px;
$avatar-status-size-md: 12px;

$avatar-size-sm:        32px;
$avatar-status-size-sm: 10px;

$avatar-size-xs:        24px;
$avatar-status-size-xs: 9px;

$avatar-size-50:        50px;
$avatar-status-size-50: 10px;

$avatar-size-100:        100px;
$avatar-status-size-100: 20px;

$avatar-online-color:    $brand-success;
$avatar-off-color:       $gray-dark;
$avatar-busy-color:      $brand-danger;
$avatar-away-color:      $brand-warning;

$avatar-status-border:   $gray-lighter;

//	-------------------------------
//	Progress
//	-------------------------------
$progress-size-xl:        2rem;
$progress-size-lg:        1.5rem;
$progress-size-md:        1rem;
$progress-size-sm:        0.5rem;
$progress-size-xs:        0.25rem;

//	-------------------------------
//	Form
//	-------------------------------

// $input-height, $input-height-lg, $input-height-sm are in variables
$font-size-xl: ($font-size-base + 0.50);
$line-height-xl: 1.7 ;
$line-height-xs: 1.5 ;
$input-padding-y-xl: 0.5rem !default;
$input-padding-x-xl: 0.5rem !default;

$input-padding-y-xs: 0.2rem !default;
$input-padding-x-xs: 0.275rem !default;

$border-radius-xl: .35rem !default;
$border-radius-xs: .12rem !default;
$input-border-radius-xl: $border-radius-xl;
$input-border-radius-xs: $border-radius-xs;

$input-height-xl: (($font-size-xl * $line-height-xl) + ($input-padding-y-xl * 2)) !default;
$input-height-xs: (($font-size-xs * $line-height-xs) + ($input-padding-y-xs * 2)) !default;
$input-height-sm: (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;


//	-------------------------------
//	Table
//	-------------------------------
$table_border_color: #e3ebf3;
